*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/* header start */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 1256px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.menu {
    display: flex;
    gap: 40px;
}

.logo {
    height: 50px;
    width: 50px;
    background: #000;
    border-radius: 100%;
}
.slider {
    margin: 0 auto;
    width: 100%;
}

.slide_viewer {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:first-child {
    display: block;
}

.slide:nth-of-type(1) {
    background: #D7A151;
}

.slide:nth-of-type(2) {
    background: #F4E4CD;
}

.slide:nth-of-type(3) {
    background: #C75534;
}

.slide:nth-of-type(4) {
    background: #D1D1D4;
}

.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    bottom: 10px;
}

a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
}

.directional_nav {
    margin: 0 auto;
    max-width: 1256px;
    position: relative;
    bottom: 120px;
    
}



.previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
}

.previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover, .next_btn:hover {
    opacity: 1;
}

/* header end */



/* main start */



.slider-wrapper {
    position: relative;
  }
  
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  
  .slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
  }
  
  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }
  
  .container {
    width: 1256px;
    margin: 0 auto;
  }
  
  .image-list li {
    position: relative;
  }
  
  .slide__block {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 12px;
  }
  
  .details {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .learn__details {
      color: #fff;
    }
  
    .arrow {
      background: #fff;
      color: #000;
      display: inline-block;
      height: 50px;
      width: 50px;
      border-radius: 100%;
      text-align: center;
      line-height: 50px;
    }
  }
  
  .article__name {
    position: absolute;
    bottom: 12px;
  }


  :root {
    --gray: #F5F5F5;
    --white: #fff;
  }


  
.services__grid {
  display: grid; 

  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(10, 1fr);
  
  gap: 20px;
  height: 650px;

  position: relative;
}

.services__item {
  height: 310px;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
  text-align: center;
  position: relative;
}

.services__name {
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.services__btn {
  height: 50px;
  margin-top: auto;
  width: 100%;
  line-height: 50px;
  border-radius: 12px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  background: var(--white);
  display: block;
}

.services__item__1 {

  background-color: var(--gray); 
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 3;
}
.services__item__2 {

  background-color: #D69B6B; 
  grid-row-start: 4;
  grid-column-start: 1;

  grid-row-end: 7;
  grid-column-end: 3;
  border: 2px solid #000;
  background: var(--white);

  .services__btn {
    border: 2px solid #000;
  }
}
.services__item__3 {

  background-color: var(--gray); 
  grid-row-start: 4;
  grid-column-start: 3;

  grid-row-end: 7;
  grid-column-end: 5;
  
}
.services__item__4 {

  background-color: var(--white); 
  grid-row-start: 1;
  grid-column-start: 7;

  grid-row-end: 4;
  grid-column-end: 9;
  
  border: 2px solid #000;
  .services__btn {
    border: 2px solid #000;
  }
}
.services__item__5 {

  background-color: var(--gray); 
  grid-row-start: 4;
  grid-column-start: 9;

  grid-row-end: 7;
  grid-column-end: 11;
  
}

.services__img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.services {
  margin-top: 120px;
  .container {
    position: relative;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-size: 170px;
      text-transform: uppercase;
    }
  }
}


  .our__work__grid  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 400px; */
}

.our__work__item {
    display: flex;
    flex-direction: column;
}

.our__work__item__1 {
    width: 510px;
    display: flex;
    gap: 50px;
    .section__work__text {
        font-size: 40px;
        color: #fff;
    }
}
.our__work__item__2 {
    color: #fff; 
    width: 404px;
    gap: 40px;
    .call__button {
        background: none;
        border: 1px solid #fff;
        color: #fff;
    }
}   

.grid__item {
    height: 616px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#work__grid {
    height: 620px;
    transition: 500ms;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
    margin-top: 100px;
    /* margin-bottom: 600px; */
}

:where(.grid__item__1, .grid__item__2, .grid__item__3) {
    transition: 300ms;
    /* height: calc(100vh - 200px); */
}

.grid__item__1 {
    background: url(https://images.unsplash.com/photo-1719937050601-969f4f25d060?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2fHx8ZW58MHx8fHx8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid__item__2 {
    background: url(https://images.unsplash.com/photo-1724250973924-0209b9a64c13?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw4fHx8ZW58MHx8fHx8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid__item__3 {
    background: url(https://images.unsplash.com/photo-1724094505377-ac01c7813010?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#work__grid:has(.grid__item__1:hover) {
    grid-template-columns: 4fr 1fr 1fr;
}

#work__grid:has(.grid__item__2:hover) {
    grid-template-columns: 1fr 4fr 1fr;
}

#work__grid:has(.grid__item__3:hover) {
    grid-template-columns: 1fr 1fr 4fr;
}

.our__tags__block {
    display: none;
    transition: 300ms;
    position: absolute;
    right: 20px;
    width: 270px;
}

.our__article__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}

.our__text__1 {
    font-weight: 600;
}

.our__text__2 {
    display: none;
    transition: 300ms;
}

.grid__item:hover .our__text__2 {
    display: block;
}

.grid__item:hover .our__tags__block {
    display: block;
}

.our__flex {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: end;
}

.our__tags {
    padding: 12px 20px;
    background: #ffffff30;
    backdrop-filter: blur(20px);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 100px;
}

.our__more__btn {
    color: #fff;
    display: block;
    border: 1px solid #fff;
    transition: 300ms;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 100px;

}

.grid__item:hover .our__more__btn  {
    border: none;
    background: #fff;
    color: #000;
}













.not__found {
  background: url(https://images.unsplash.com/photo-1566682372561-2273e5226306?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not__found__block {
  width: 400px;
  color: #fff;

  h1 {
    font-size: 200px;
  }

  p {
    font-size: 20px;
  }

  .back__btn {
    font-size: 20px;
    color: #000;
    border-radius: 40px;
    display: inline-block;
    margin-top: 40px;
    padding: 12px 40px;
    background: #fff;
    text-transform: uppercase;
  }
}






.catalog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 20px;
}

.product-item {
  transition: 500ms linear;
  border-radius: 20px;
}

.product-img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;

  /* margin-bottom: 40px; */
} 

.product-block {
  padding: 12px;
}

.product-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.product-text {
  margin-bottom: 20px;
}

.read-more {
  font-size: 20px;
  color: #000;
}

.catalog-name {
  font-size: 32px;
  width: 400px;
  margin-bottom: 50px;
  font-weight: 600;
}

.catalog {
  margin-top: 100px;
}